<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museo-Tech Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <h1>Events</h1>
    </div>

    <!-- Events Content Section -->
    <div class="events">
        <h2>Arts and Cultural Events</h2>
    </div>

    <div class="art-text">
        <h3>Art and culture evoke emotions, sparking empathy and understanding.</h3>
        <p>Museums offer interactive learning experiences, supplementing formal education.</p>
    </div>

    <!-- Image Section -->
    <div class="event-image">
        <img class="img-right" src="{{ url_for('static', filename='images/event img.jpg') }}" alt="Event Image">
    </div>

</body>

</html>
