<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
initial-scale=1.0">
    <title>Forgot Password - Museum Management
        System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot.css') }}">
</head>

<body>
    <div class="forgot-password-container">
        <h2>Forgot Your Password?</h2>
        <p>Enter your registered email address below, and we'll
            send you instructions to reset your password.</p>

            <form method="POST">
                <label for="password">Enter new password:</label>
                <input type="password" name="password" required>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>

        <p class="back-to-login"><a href="login">Back to
                Login</a></p>
    </div>
</body>

</html>